section {
    max-width: 250px;
    float: left;
    margin: 20px;
}
.nutrition-facts {
    margin-top: 20px;
    border: solid 2px #000;
    display: inline-block;
    font: normal 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 5px 0;
    width: 250px;
}
.nutrition-facts input {
    border: 0;
    width: 25px;
    background-color: lightblue;
    text-align: right;
}
.nutrition-facts input.cals {
    width: 100px;
}
.nutrition-facts h1, .nutrition-facts thead, .nutrition-facts strong {
    font-family: "Arial Black", "Arial Bold", sans-serif;
    letter-spacing: -0.03em;
}
.nutrition-facts h1 {
    border-bottom: solid 1px #000;
    font-size: 32px;
    margin: -3px 0 4px;
}
.nutrition-facts header p {
    font-size: 14px;
    margin: 2px 0 -3px;
}
.nutrition-facts header p strong {
    font-size: 15px;
}
.nutrition-facts header span {
    float: right;
}
.nutrition-facts table {
    border-collapse: collapse;
    width: 100%;
}
.nutrition-facts table th, .nutrition-facts table td {
    letter-spacing: -0.03em;
}
.nutrition-facts table th {
    font-weight: normal;
}
.nutrition-facts table td {
    min-width: 1em;
}
.nutrition-facts table thead th, .nutrition-facts table tbody th, .nutrition-facts table thead td, .nutrition-facts table tbody td {
    text-align: left;
    font-size: 13px;
    border-top: solid 1px #000;
    padding: 2px 0 2px;
}
.nutrition-facts table thead th.indent, .nutrition-facts table tbody th.indent, .nutrition-facts table thead td.indent, .nutrition-facts table tbody td.indent {
    border-top: 0;
}
.nutrition-facts table thead th strong, .nutrition-facts table tbody th strong {
    font-family: "Arial Black", "Arial Bold", sans-serif;
}
.nutrition-facts table thead td:last-child, .nutrition-facts table tbody td:last-child {
    text-align: right;
}
.nutrition-facts table thead .daily-value th, .nutrition-facts table tbody .daily-value th {
    font-size: 11px;
    text-align: right;
}
.nutrition-facts table thead td, .nutrition-facts table thead th {
    border-bottom: solid 4px blue;
    padding-top: 3px;
    line-height: 1em;
}
.nutrition-facts table thead th strong {
    font-size: 28px;
    line-height: 28px;
}
.nutrition-facts table thead th span {
    font-size: 34px;
    float: right;
    line-height: 24px;
}
.nutrition-facts table.main-nutrients {
    border-top: solid 10px #000;
    border-bottom: solid 10px #000;
    margin-top: 8px;
}
.nutrition-facts table.main-nutrients tbody td:last-child {
    font-family: "Arial Black", "Arial Bold", sans-serif;
}
.nutrition-facts table.main-nutrients tbody td:last-child p {
    text-align: left;
}
.nutrition-facts table.additional-nutrients {
    border-bottom: solid 5px #000;
}
.nutrition-facts table.additional-nutrients td .spacer {
    width: 1em;
    text-align: center;
}
.nutrition-facts table.additional-nutrients td:last-child {
    font-weight: normal;
    font-family: arial, sans-serif;
}
.nutrition-facts table.voluntary-nutrients {
    border-bottom: solid 5px #000;
}
.nutrition-facts .footnote {
    font-size: 9px;
    height: 4em;
    margin: 6px 0 -3px;
    padding-left: 1em;
    position: relative;
}
.nutrition-facts .footnote:before {
    content: '*';
    position: absolute;
    left: 0;
}
